.inputnames{
    font-size: 10px;
    color:indianred;
}
#createButton{
    position:relative;
    bottom:20%;
    position: absolute;


     left:30px ;
}
#forgotButton{
    position:relative;
    bottom:20%;


    position: absolute;
     right:30px ;
 }