.inputnames{
    font-size: 10px;
    color:indianred;
}
#createButton{
    position:relative;
    bottom:20%;


    position: fixed;
    left:30px;
}
#forgotButton{
    position:relative;
    bottom:20%;


    position: fixed;
    right:50px;
 }